body{
    font-family: roboto;
    overflow-x: hidden;
}
/* This is the header and nav section*/
#header{
    background:#100;
    color:#ffffff;
    padding-top:20px;
}

header img{
    height:50px;
    width:50px;
    border-radius:50%;
}
.navbar{
    width:100%;
}
#values{
    font-size:calc(2px + 2vw);
    text-transform: uppercase;
    margin:0;
    padding:0;
}
nav{
    background:#11A8A1;
    color:white;
}
#quote{
    text-align:center;
    margin-left:30px;
    font-size: calc(3px + 1.5vw);
    font-family:"courgette";
}
#icons li{
    display:inline-block;
    margin-right:5px;
    padding:0 3px;
    font-size: calc(2px + 2vw);
}
#icons{
    padding-left:4px;
}
#icons a{
    text-decoration:none;
    color: #fff;
    display:inline-block;
    font-size: calc(2px + 2.5vw);
}
/* This is the services section */
#services{
    font-size:calc(2px + 1.5vw);
    padding:5rem 0.1rem;
    background:#11A8A1;
    text-align:left;
    color:#fff;
}

h3{
    text-align:center;
}
.top-content{
    background:rgb(53, 51, 51);
}
figure{
    display:inline-block;
    padding: 0 90px;
}
figcaption{
    text-align:center;
    font-size: calc(4px + 1vw);
    caption-side:bottom;
}
/* This is the people we serve section */
#servicees{
    background:white;
    margin:0;
    padding: 40px 0;
} 
figure{
    display:inline-block;
    padding:0;
    margin: 0 3.5rem;
}
#servicees figure figcaption{
    font-size: calc(1px + 1.5vw);
    padding-top: 3px;
}
#servicees h2{
    text-align:center;
    font-size: calc(6px + 2.5vw);
    padding-bottom: 1rem;
}
#servicees img{
    width:130px;
    height:130px;
    border-radius: 50%;
}
/* This is the footer section*/
#footer{
    font-size:calc(3px + 1vw);
    background:rgba(235, 231, 231, 0.836);
}
#footer p{
    margin : 3px 0;
}
#contact{
    margin-left:7px;
    line-height:1.2;
    padding-top:5px;
}
#newsletter{
    margin-left: 18rem;
    text-align:center;
    padding-top:5px;
}
#newsletter i{
    font-size:calc(4px + 3vw);
}
#socials{
    margin-left:21rem;
    font-size:calc(2px + 2.5vw);
    padding-top:15px;
}
#socials ul li{
    display:inline-block;
    padding:0 5px;
}
#socials a{
    color:rgba(32, 30, 30, 0.918);
}
#contact p:nth-of-type(1){
    font-weight:bold;
    display:inline-block;
    border-bottom:1px solid #000;
}
#contact p:nth-of-type(4n){
    display:inline-block;
}
/* Media Queries */
@media (max-width: 1024px){
    #values{
        font-size:calc(2px + 2.5vw);
    }
    #quotes{
        font-size: calc(2px + 2vw);
    }
    
    #icons{
        font-size: calc(2px + 2vw);
    }
    #services{
        font-size: calc(2px + 2vw);
    }
    #servicees figure figcaption{
        font-size: calc(3px + 1.5vw);
    }
    #footer{
        font-size:calc(2px + 1.5vw);
    }
    figure{
        margin: 0 2.5rem;
    }
    #servicees img{
        width:120px;
        height:120px;
        padding-bottom:3px;
    }
    #newsletter{
        margin-left: 9rem;
    }
    #socials{
        margin-left: 12rem;
    }
}
@media (max-width: 768px){
    #values{
        font-size:calc(2px + 3vw);
    }
    #quotes{
        font-size: calc(10px + 3vw);
        width:100%;
    }
    
    #icons{
        font-size: calc(2px + 2vw);
    }
    #services{
        font-size: calc(2px + 2vw);
    }
    #servicees figure figcaption{
        font-size: calc(3px + 1.5vw);
    }
    #footer{
        font-size:calc(2px + 1.5vw);
    }
    figure{
        margin: 0 1.5rem;
    }
    #servicees img{
        width:90px;
        height:90px;
        padding-bottom:3px;
    }
    #values{
        width:100%;
    }
    #values p{
        width:100%;
        text-align:left;
    }
    #newsletter{
        margin-left: 6rem;
    }
    #socials{
        margin-left: 7rem;
    }
}
@media(max-width: 420px){
    figure{
        margin: 0 0.8rem;
    }
    #services p{
        font-size: calc(4px + 2vw);
    }
    #servicees img{
        width:45px;
        height:45px;
        padding-bottom:3px;
    }
    #servicees h2{
        font-size: calc(3px + 5vw);
    }
    #quote{
        display:block;
        padding-right:100px;
    }
    #footer{
        font-size: calc(2px + 1.5vw);
    }
    #newsletter{
        margin-left: 1rem;
    }
    #socials{
        margin-left: 0.6rem;
    }
    #quote p{
        font-size: calc(3px + 4vw);
    } 
    #values{
        font-size: calc(3px + 3vw);
    }
    #icons li a{
        font-size:calc(4vw + 4vw);
        padding-left: 10px;
    }
}
@media (max-width: 375px){
    figure{
        margin:0 0.7rem;
    }
    #servicees img{
        width:35px;
        height:35px;
        padding-bottom:3px;
    }
    #newsletter{
        margin-left: 1rem;
    }
    #socials{
        margin-left: 1rem;
    }
    #socials ul li{
        padding:0 2px;
    }
    @media (max-width: 320px){
        figure{
            margin:0 0.4rem;
        }
        #values{
            font-size: calc(2px + 3vw);
        }
        #servicees img{
            width:35px;
            height:35px;
            padding-bottom:3px;
        }
        #newsletter{
            margin-left: 1rem;
        }
        #socials{
            margin-left: 1rem;
        }
        #socials ul li{
            padding:0 2px;
        }
}
}
@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 768px) {
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 991px) {
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}